<!DOCTYPE html>
<html lang="en">
	<head>
		<title>Ninja Money</title>
		<meta charset="UTF-8">
		<meta name="description" content="Ninja Money Game">
{% load static %}
		<link rel="stylesheet" href="{% static 'css/styles.css' %}" media="screen" title="no title"  charset="utf-8"> 
	</head>
	<body>
		<div id="wrapper">
			<h1>Your Gold:</h1>
			<p id="display_gold">{{request.session.gold}}</p>
			<a href="/reset/">Reset the game</a>
			<div class="buildings">
				<h2>Farm</h2>
				<p>(earns 10-20 golds)</p>
				<form action="/process_money/farm" method="post">
{% csrf_token %}
					<input type="submit" value="Find Gold!"/>
				</form> 
			</div>
			<div class="buildings">
				<h2>Cave</h2>
				<p>(earns 5-10 golds)</p>
				<form action="/process_money/cave" method="post">
{% csrf_token %}
					<input type="submit" value="Find Gold!"/>
				</form> 
			</div>
			<div class="buildings">
				<h2>House</h2>
				<p>(earns 2-5 golds)</p>
				<form action="/process_money/house" method="post">
{% csrf_token %}
					<input type="submit" value="Find Gold!"/>
				</form> 
			</div>
			<div class="buildings">
				<h2>Casino</h2>
				<p>(earns/takes 0-50 golds)</p>
				<form action="/process_money/casino" method="post">
{% csrf_token %}
					<input type="submit" value="Find Gold!"/>
				</form> 
			</div>
			<div id="activities">
				<!-- Store activities in session list? Loop through the list
					 here and add each activity to a p tag? -->
				{%for activity in request.session.activities%}
				{{activity|safe}}
				{% endfor%}
			</div>
		</div>
	</body>
</html>