* {
	padding: 0;
	margin: 0;
}

body {
	font-family: arial;
}

a {
	margin: 25px 0 0 160px;
	display:block;
}

h1 {
	font-weight: normal;
	font-size: 1.2em;
	text-decoration: underline;
	margin-top: 25px;
}

form {
	margin-top: 75px;
}

form input[type="hidden"], form p {
	display: inline-block;
	width: 200px;
}

label {
	font-weight: bold;
	margin-right: 10px;
}

input[type="submit"] {
	padding: 3px 5px;
	margin: 10px 0 0 243px;
	box-shadow: 3px 3px 3px;
}

#wrapper {
	margin: 0 auto;
	width: 450px;
}

#place_holder, #error {
	margin-top: 100px;
	width: 250px;
	height: 100px;
}

#error {
	background-color: #cf2a27;
}

#error p {
	color: white;
	font-size: 1.3em;
	padding-top: 13px;
}

#success {
	margin-top: 100px;
	background-color: #249f00;
	text-align: left;
	padding: 10px;
	width: 380px;
}