/*CSS reset*/
* {
	padding: 0;
	margin: 0;
}

body {
	font-family: arial, sans serif;
	background-color: black;
}

div {
	font-size: 0;
}

h1, p {
	display: inline-block;
	color: white;
	font-size: 25px;
	margin: 0 0 30px 10px;
}

#wrapper {
	width:500px;
	height: 600px;
	padding-left: 30px;
	margin: 0 auto;
}

#done {
	height: 75px;
	width: 100px;
	font-size: 25px;
	color: black;
	background-color: gray;
	position: absolute;
	margin: 235px 0 0 175px;
	display: none;
}

#done button {
	margin: 23px 0 0 13px;
    border-radius: 5px;
    padding: 5px;
    box-shadow: 0px 12px 22px 1px #333;
    border: 1px solid grey;
}

.row div {
	width: 16px;
	height: 16px;
	display: inline-block;
}

.top {
	border-top: 2px solid blue;
}

.bottom {
	border-bottom: 2px solid blue;
}

.left {
	border-left: 2px solid blue;
}

.right {
	border-right: 2px solid blue;
}

.left_top {
	border-top-left-radius: 10px;
}

.right_top {
	border-top-right-radius: 10px;
}

.left_bottom {
	border-bottom-left-radius: 10px;
}

.right_bottom {
	border-bottom-right-radius: 10px;
}

.brick {
	box-sizing: border-box;
}

.point {
	background: url("./images/download.jpg") no-repeat center;
	background-size: 20%;
}

.blank {
	background-color: black;
}

.door {
	background-color: white;
	opacity: 0.5;
}

.background {
	opacity:0.5;
	z-index: -1;
}

.pacman {
	background: url("./images/pacman.gif") no-repeat center;
	background-size: cover;
}

.transform_down {
	transform: rotate(90deg);
}

.transform_left {
	transform: rotate(180deg);
}

.transform_up {
	transform: rotate(-90deg);
}

.pinky {
	background: url("./images/pinky.gif") no-repeat center;
	background-size: cover;
}

.blinky {
	background: url("./images/blinky.gif") no-repeat center;
	background-size: cover;
}

.clyde {
	background: url("./images/clyde.gif") no-repeat center;
	background-size: cover;
}

.inky {
	background: url("./images/inky.gif") no-repeat center;
	background-size: cover;
}