* {
	text-align: center;
}

.even {
	background-color: #f36870;
	height: 100px;
	width:100px;
}

.odd {
	padding: 10px;
	height: 80px;
	width: 80px;
	background-color: #82b4ee;
}

#header {
	padding-top: 10px;
}

#header h1 {
	display: inline-block;
}
#header img {
	background-color: #ffffff;
	height: 50px;
}

#wrapper {
	background-color: #d5d2ae;
	width:570px;
	margin: 0 auto;
	overflow: hidden;
	padding: 20px 0;
}

.block img {
	border: 2px solid black;
}