<html>
	<head>
		<title>Dojo Survey</title>
		<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='styles.css') }}">
	</head>
	<body>
		<div id="wrapper">
{% with messages = get_flashed_messages() %}
	{% if messages %}
		{% for message in messages %}
			<p class="error">{{message}}</p>
		{% endfor %}
	{% endif %}
{% endwith %}
      		<form action='/result' method='post'>
      			<label for="name">Your Name:</label>
{% if survey_results is defined and survey_results.name != "" %}
      			<input type="text" name="name" id="name" value="{{survey_results.name}}">
{% else %}
				<input type="text" name="name" id="name">
{% endif %}
      			<label for="location">Dojo Location:</label>
      			<select name="location" id="location">
					<option value="San Jose" selected>San Jose</option>
					<option value="Seattle">Seattle</option>
					<option value="Los Angeles">Los Angeles</option>
					<option value="Dallas">Dallas</option>
					<option value="Washington D.C.">Washington D.C.</option>
					<option value="Chicago">Chicago</option>
					<option value="Tulsa">Tulsa</option>
				</select>
				<label for="language">Favorite Language:</label>
      			<select name="language" id="language">
					<option value="Python" selected>Python</option>
					<option value="Java">Java</option>
					<option value="C/C++">C/C++</option>
					<option value="PHP">PHP</option>
				</select>
				<label for="comment">Comment (optional):</label>
{% if survey_results is defined and survey_results.comment != "" %}
				<textarea name="comment" id="comment">{{survey_results.comment}}</textarea>
{% else %}
				<textarea name="comment" id="comment"></textarea>
{% endif %}
				<input type="submit" value="Submit">
			</form>
		</div>
	</body>
</html>