/*CSS reset*/
* {
	padding: 0;
	margin: 0;
}

body {
	font-family: arial, sans serif;
}

table {
	margin: 20px 20px 20px 50px;
}

th {
	border-bottom: 1px solid black;
}

th, td {
	padding:5px 20px 0 20px;
}

h1, h2 {
	display: inline-block;
	margin: 10px;
	padding-bottom: 10px;
	border-bottom: 1px solid black;
}

h2 {
	margin: 50px 0 20px 50px;
}

input[type="submit"] {
	margin: 20px 0 0 265px;
	padding: 5px;
	border-radius: 5px;
}

#wrapper {
	background-color: #c7c7c7;
	width: 900px;
	height: 600px;
	margin: 0 auto;
	display:block;
}

#user_form p {
	text-align: right;
	margin: 5px 580px 5px 0px;
}

#user_form label {
	margin-right: 5px;
}